body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background: black;

}

.imagem {
    display: none;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation-name: transicaoImagem;
    animation-duration: 1s;



}

.imagem.active {
    display: block;
}

.menu-lateral {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    margin-right: 30px;

 
}
.menu-lateral ul{
    list-style: none;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.icone{
    width: clamp(20px,10vw,50px);
    filter: brightness(0%) invert(100%);
}

.logo {
    filter: brightness(0%) invert(100%);
    width: clamp(200px,50vw,500px);
}

.descricao {
    font-family: Poppins;
    color: white;
    font-size: clamp(14px, 2.1vw, 22px);
    max-width: 40vw;
}

.botao {
    padding: 5px;
    border-radius: 50%;
    background: white;
    border: 3px solid white;
    cursor: pointer;

}

.botao.active {
    background: brown;
}

.conteudo {
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.botoes-carrossel {
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1;

}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.conteudo::after {
    content: '';
    position: absolute;
    background: black;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.22452731092436973) 50%, rgba(0, 0, 0, 1) 100%);

}


@keyframes transicaoImagem {
    from {
        transform: translateX(50px);
    }

    to {
        transform: translateX(0px);
    }
}